*{
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(13, 20, 51)
}

.grid{
    display: flex;
    flex-wrap: wrap;
    width: 768px;
    height: 768px;
    background-color: rgb(205, 206, 216);
    border: 2px solid black;
}
.hover{
    background-color: black;
}